/* ==========================================================================
*/
.nav-scroller {
  z-index: 2;
  //height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller a {
  font-size: 16px;
  font-weight: 300;
  font-weight: 500;
  line-height: 20px;
}

.nav-scroller > .nav-link.active > a:hover,
a:hover {
  color: #f30;
}
.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 0rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  a.nav-link.active {
    color: #f30;
    &:hover {
      color: #6e8cd7;
    }
  }
}

.sidenav {
  background-color: #fff;
  overflow-x: hidden;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/*
.navheader h4 {
    text-decoration: none;
    font-weight: 500;
    color: #153045 !important;
    display: block;
    padding: 0.5rem;
}

.navbar {
    ul.navbar-nav {
        margin-left: 0 !important;
        .nav-item {
            white-space: normal;
        }
        a:not(.dropdown-item):not(.dropdown-items) {
            text-decoration: none;
            font-weight: 500;
            color: #153045 !important;
            display: block;
            transition: 0.3s;
            padding: 0.45rem 1rem !important;
            &:hover {
                color: #809e87 !important;
            }
        }
        .nav-item a.active {
            color: #fff !important;
            text-decoration: none;
            background-color: #444c51;
            &:hover {
                color: #809e87 !important;
            }
        }
    }

    ul.navbar-nav-customize {
        list-style: none;
        display: flex;
        .nav-item {
            margin-left: 0.5em;
            padding: 0.25rem 0;
        }
    }

    a.nav-link {
        font-weight: 500;
        color: #153045 !important;
        padding: 0.5rem 1rem !important;
        &:hover {
            color: #809e87 !important;
        }
    }

    .navbar-toggler {
        color: #444c51;
        cursor: pointer;
        &:hover {
            color: #444c51;
        }
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-item {
        font-weight: 500;
        border-radius: 0;
        padding: 0.45rem 1rem;
        white-space: normal;
        &:hover {
            color: #809e87 !important;
        }
    }

    ul.dropdown-menu {
        border: 1px solid transparent !important;
        margin-left: 1rem;
        a.active {
            color: #fff !important;
            text-decoration: none;
            background-color: #444c51;
            &:hover {
                color: #809e87 !important;
            }
        }
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
*/
