<div class="d-flex justify-content-start">
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="nav-link p-2 pr-md-5" routerLink="/" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <div class="row">
                    <div class="col-lg-auto pr-lg-2 pr-sm-0">
                        <fa-icon icon="home"></fa-icon>
                    </div>
                    <!--<div class="w-100 d-none d-md-block"></div>-->
                    <div class="col-lg p-0"><span jhiTranslate="global.menu.home">Home</span></div>
                </div>
            </a>
            <a class="nav-link p-2 pr-md-5" [routerLink]="'coupon'" [routerLinkActive]="['active']">
                <div class="row">
                    <div class="col-lg-auto pr-lg-2 pr-sm-0">
                        <fa-icon icon="tags" fixedWidth="true"></fa-icon>
                    </div>
                    <div class="col-lg p-0"><span jhiTranslate="global.menu.coupon">Coupon</span></div>
                </div>
            </a>
            <a class="nav-link p-2 pr-md-5" [routerLink]="'shop'" [routerLinkActive]="['active']">
                <div class="row">
                    <div class="col-lg-auto pr-lg-2 pr-sm-0">
                        <fa-icon icon="bullhorn" fixedWidth="true"></fa-icon>
                    </div>
                    <div class="col-lg p-0"><span jhiTranslate="global.menu.store">Store</span></div>
                </div>
            </a>
            <a class="nav-link p-2 pr-md-5" [routerLink]="'product'" [routerLinkActive]="['active']">
                <div class="row">
                    <div class="col-lg-auto pr-lg-2 pr-sm-0">
                        <fa-icon icon="list-ol" fixedWidth="true"></fa-icon>
                    </div>
                    <div class="col-lg p-0"><span jhiTranslate="global.menu.pages">Pages</span></div>
                </div>
            </a>
        </nav>
    </div>
</div>
