<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-file-heading" jhiTranslate="couponsApp.file.home.createOrEditLabel">Create or edit a File</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.file.filename" for="field_filename">Filename</label>
                    <input type="text" class="form-control" name="filename" id="field_filename"
                           formControlName="filename"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.file.fileOnServer" for="field_fileOnServer">File On Server</label>
                    <input type="text" class="form-control" name="fileOnServer" id="field_fileOnServer"
                           formControlName="fileOnServer"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.file.relativePath" for="field_relativePath">Relative Path</label>
                    <input type="text" class="form-control" name="relativePath" id="field_relativePath"
                           formControlName="relativePath"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.file.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="PHOTO">{{'couponsApp.FileType.PHOTO' | translate}}</option>
                        <option value="LOGO">{{'couponsApp.FileType.LOGO' | translate}}</option>
                        <option value="DOCUMENT">{{'couponsApp.FileType.DOCUMENT' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.file.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
