<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="file">
            <h2><span jhiTranslate="couponsApp.file.detail.title">File</span> {{file.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="couponsApp.file.filename">Filename</span></dt>
                <dd>
                    <span>{{file.filename}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.file.fileOnServer">File On Server</span></dt>
                <dd>
                    <span>{{file.fileOnServer}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.file.relativePath">Relative Path</span></dt>
                <dd>
                    <span>{{file.relativePath}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.file.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'couponsApp.FileType.' + file.type}}">{{file.type}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.file.active">Active</span></dt>
                <dd>
                    <span>{{file.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/file', file.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
