<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="photo">
            <h2><span jhiTranslate="couponsApp.photo.detail.title">Photo</span> {{photo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="couponsApp.photo.name">Name</span></dt>
                <dd>
                    <span>{{photo.name}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.photo.active">Active</span></dt>
                <dd>
                    <span>{{photo.active}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.photo.product">Product</span></dt>
                <dd>
                    <div *ngIf="photo.productId">
                        <a [routerLink]="['/product', photo.productId, 'view']">{{photo.productId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="couponsApp.photo.coupon">Coupon</span></dt>
                <dd>
                    <div *ngIf="photo.couponId">
                        <a [routerLink]="['/coupon', photo.couponId, 'view']">{{photo.couponId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/photo', photo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
