<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rating">
            <h2><span jhiTranslate="couponsApp.rating.detail.title">Rating</span> {{rating.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="couponsApp.rating.rate">Rate</span></dt>
                <dd>
                    <span>{{rating.rate}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.rating.score">Score</span></dt>
                <dd>
                    <span>{{rating.score}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.rating.ratingTime">Rating Time</span></dt>
                <dd>
                    <span>{{rating.ratingTime}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.rating.product">Product</span></dt>
                <dd>
                    <div *ngIf="rating.productId">
                        <a [routerLink]="['/product', rating.productId, 'view']">{{rating.productId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rating', rating.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
