<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shop">
            <h2><span jhiTranslate="couponsApp.shop.detail.title">Shop</span> {{shop.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="couponsApp.shop.name">Name</span></dt>
                <dd>
                    <span>{{shop.name}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.shop.code">Code</span></dt>
                <dd>
                    <span>{{shop.code}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.shop.shopId">Shop Id</span></dt>
                <dd>
                    <span>{{shop.shopId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shop', shop.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
