<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="couponsApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="couponsApp.customer.firstName">First Name</span></dt>
                <dd>
                    <span>{{customer.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.lastName">Last Name</span></dt>
                <dd>
                    <span>{{customer.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{customer.middleName}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.position">Position</span></dt>
                <dd>
                    <span>{{customer.position}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.email">Email</span></dt>
                <dd>
                    <span>{{customer.email}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.mobileNumber">Mobile Number</span></dt>
                <dd>
                    <span>{{customer.mobileNumber}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.faxNumber">Fax Number</span></dt>
                <dd>
                    <span>{{customer.faxNumber}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.mailingAddress">Mailing Address</span></dt>
                <dd>
                    <span>{{customer.mailingAddress}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.officeAddress">Office Address</span></dt>
                <dd>
                    <span>{{customer.officeAddress}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'couponsApp.ContactType.' + customer.type}}">{{customer.type}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{'couponsApp.Gender.' + customer.gender}}">{{customer.gender}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.active">Active</span></dt>
                <dd>
                    <span>{{customer.active}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.myFavotite">My Favotite</span></dt>
                <dd>
                    <div *ngIf="customer.myFavotiteId">
                        <a [routerLink]="['/my-favorite', customer.myFavotiteId, 'view']">{{customer.myFavotiteId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.user">User</span></dt>
                <dd>
                    {{customer.userId}}
                </dd>
                <dt><span jhiTranslate="couponsApp.customer.history">History</span></dt>
                <dd>
                    <div *ngIf="customer.historyId">
                        <a [routerLink]="['/history', customer.historyId, 'view']">{{customer.historyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
