<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-customer-heading" jhiTranslate="couponsApp.customer.home.createOrEditLabel">Create or edit a Customer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                           formControlName="middleName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.position" for="field_position">Position</label>
                    <input type="text" class="form-control" name="position" id="field_position"
                           formControlName="position"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.mobileNumber" for="field_mobileNumber">Mobile Number</label>
                    <input type="text" class="form-control" name="mobileNumber" id="field_mobileNumber"
                           formControlName="mobileNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.faxNumber" for="field_faxNumber">Fax Number</label>
                    <input type="text" class="form-control" name="faxNumber" id="field_faxNumber"
                           formControlName="faxNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.mailingAddress" for="field_mailingAddress">Mailing Address</label>
                    <input type="text" class="form-control" name="mailingAddress" id="field_mailingAddress"
                           formControlName="mailingAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.officeAddress" for="field_officeAddress">Office Address</label>
                    <input type="text" class="form-control" name="officeAddress" id="field_officeAddress"
                           formControlName="officeAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="DEVELOPER">{{'couponsApp.ContactType.DEVELOPER' | translate}}</option>
                        <option value="CUSTOMER">{{'couponsApp.ContactType.CUSTOMER' | translate}}</option>
                        <option value="ADMIN">{{'couponsApp.ContactType.ADMIN' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">{{'couponsApp.Gender.MALE' | translate}}</option>
                        <option value="FEMALE">{{'couponsApp.Gender.FEMALE' | translate}}</option>
                        <option value="OTHER">{{'couponsApp.Gender.OTHER' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.myFavotite" for="field_myFavotite">My Favotite</label>
                    <select class="form-control" id="field_myFavotite" name="myFavotite" formControlName="myFavotiteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="myFavoriteOption.id" *ngFor="let myFavoriteOption of myfavotites; trackBy: trackMyFavoriteById">{{myFavoriteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.customer.history" for="field_history">History</label>
                    <select class="form-control" id="field_history" name="history" formControlName="historyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="historyOption.id" *ngFor="let historyOption of histories; trackBy: trackHistoryById">{{historyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
