<!--<div class="container">-->
<div>
    <!--<jhi-page-ribbon></jhi-page-ribbon>-->
    <div>
        <router-outlet name="navbar"></router-outlet>
    </div>
    <div class="container"><!--container-fluid-->
        <div class="card jh-card-container">
            <router-outlet></router-outlet>
        </div>
        <jhi-footer></jhi-footer>
    </div>
</div>
