<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="history">
            <h2><span jhiTranslate="couponsApp.history.detail.title">History</span> {{history.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="couponsApp.history.dateLogin">Date Login</span></dt>
                <dd>
                    <span>{{history.dateLogin}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.history.ip">Ip</span></dt>
                <dd>
                    <span>{{history.ip}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/history', history.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
