<div>
    <h2 id="page-heading">
        <span jhiTranslate="couponsApp.coupon.home.title">Coupons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-coupon" [routerLink]="['/coupon/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="couponsApp.coupon.home.createLabel">
            Create a new Coupon
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="coupons?.length === 0">
        <span jhiTranslate="couponsApp.coupon.home.notFound">No coupons found</span>
    </div>
    <div class="table-responsive" *ngIf="coupons?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="image"><span jhiTranslate="couponsApp.coupon.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="offerLogo"><span jhiTranslate="couponsApp.coupon.offerLogo">Offer Logo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="couponsApp.coupon.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="couponsApp.coupon.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="couponsApp.coupon.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="activeTo"><span jhiTranslate="couponsApp.coupon.activeTo">Active To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="couponType"><span jhiTranslate="couponsApp.coupon.couponType">Coupon Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="promoCode"><span jhiTranslate="couponsApp.coupon.promoCode">Promo Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="offerName"><span jhiTranslate="couponsApp.coupon.offerName">Offer Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="offerId"><span jhiTranslate="couponsApp.coupon.offerId">Offer Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="couponsApp.coupon.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="statusId"><span jhiTranslate="couponsApp.coupon.statusId">Status Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="categoryId"><span jhiTranslate="couponsApp.coupon.categoryId">Category Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="actionCategoryName"><span jhiTranslate="couponsApp.coupon.actionCategoryName">Action Category Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isExclusive"><span jhiTranslate="couponsApp.coupon.isExclusive">Is Exclusive</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isPersonal"><span jhiTranslate="couponsApp.coupon.isPersonal">Is Personal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="retargeting"><span jhiTranslate="couponsApp.coupon.retargeting">Retargeting</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sectoring"><span jhiTranslate="couponsApp.coupon.sectoring">Sectoring</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="rating"><span jhiTranslate="couponsApp.coupon.rating">Rating</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="url"><span jhiTranslate="couponsApp.coupon.url">Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="urlFrame"><span jhiTranslate="couponsApp.coupon.urlFrame">Url Frame</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="look"><span jhiTranslate="couponsApp.coupon.look">Look</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="domain"><span jhiTranslate="couponsApp.coupon.domain">Domain</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="geoId"><span jhiTranslate="couponsApp.coupon.geo">Geo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="myFavoriteId"><span jhiTranslate="couponsApp.coupon.myFavorite">My Favorite</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let coupon of coupons ;trackBy: trackId">
                <td><a [routerLink]="['/coupon', coupon.id, 'view' ]">{{coupon.id}}</a></td>
                <td>{{coupon.image}}</td>
                <td>{{coupon.offerLogo}}</td>
                <td>{{coupon.name}}</td>
                <td>{{coupon.description}}</td>
                <td>{{coupon.startDate | date:'medium'}}</td>
                <td>{{coupon.activeTo | date:'medium'}}</td>
                <td jhiTranslate="{{'couponsApp.CouponType.' + coupon.couponType}}">{{coupon.couponType}}</td>
                <td>{{coupon.promoCode}}</td>
                <td>{{coupon.offerName}}</td>
                <td>{{coupon.offerId}}</td>
                <td jhiTranslate="{{'couponsApp.Status.' + coupon.status}}">{{coupon.status}}</td>
                <td>{{coupon.statusId}}</td>
                <td>{{coupon.categoryId}}</td>
                <td>{{coupon.actionCategoryName}}</td>
                <td>{{coupon.isExclusive}}</td>
                <td>{{coupon.isPersonal}}</td>
                <td>{{coupon.retargeting}}</td>
                <td>{{coupon.sectoring}}</td>
                <td>{{coupon.rating}}</td>
                <td>{{coupon.url}}</td>
                <td>{{coupon.urlFrame}}</td>
                <td jhiTranslate="{{'couponsApp.Look.' + coupon.look}}">{{coupon.look}}</td>
                <td>{{coupon.domain}}</td>
                <td>
                    <div *ngIf="coupon.geoId">
                        <a [routerLink]="['/geo', coupon.geoId , 'view' ]" >{{coupon.geoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="coupon.myFavoriteId">
                        <a [routerLink]="['/my-favorite', coupon.myFavoriteId , 'view' ]" >{{coupon.myFavoriteId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/coupon', coupon.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/coupon', coupon.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(coupon)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="coupons?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
