<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-coupon-heading" jhiTranslate="couponsApp.coupon.home.createOrEditLabel">Create or edit a Coupon</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.image" for="field_image">Image</label>
                    <input type="text" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.offerLogo" for="field_offerLogo">Offer Logo</label>
                    <input type="text" class="form-control" name="offerLogo" id="field_offerLogo"
                           formControlName="offerLogo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.startDate" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.activeTo" for="field_activeTo">Active To</label>
                    <div class="d-flex">
                        <input id="field_activeTo" type="datetime-local" class="form-control" name="activeTo" formControlName="activeTo" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.couponType" for="field_couponType">Coupon Type</label>
                    <select class="form-control" name="couponType" formControlName="couponType" id="field_couponType">
                        <option value="SALE">{{'couponsApp.CouponType.SALE' | translate}}</option>
                        <option value="PROMO_CODES">{{'couponsApp.CouponType.PROMO_CODES' | translate}}</option>
                        <option value="FREE_SHIPPING">{{'couponsApp.CouponType.FREE_SHIPPING' | translate}}</option>
                        <option value="EXTRAS_WITH_ORDER">{{'couponsApp.CouponType.EXTRAS_WITH_ORDER' | translate}}</option>
                        <option value="SPECIAL_EVENT">{{'couponsApp.CouponType.SPECIAL_EVENT' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.promoCode" for="field_promoCode">Promo Code</label>
                    <input type="text" class="form-control" name="promoCode" id="field_promoCode"
                           formControlName="promoCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.offerName" for="field_offerName">Offer Name</label>
                    <input type="text" class="form-control" name="offerName" id="field_offerName"
                           formControlName="offerName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.offerId" for="field_offerId">Offer Id</label>
                    <input type="number" class="form-control" name="offerId" id="field_offerId"
                           formControlName="offerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="ACTIVE">{{'couponsApp.Status.ACTIVE' | translate}}</option>
                        <option value="DEACTIVE">{{'couponsApp.Status.DEACTIVE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.statusId" for="field_statusId">Status Id</label>
                    <input type="number" class="form-control" name="statusId" id="field_statusId"
                           formControlName="statusId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.categoryId" for="field_categoryId">Category Id</label>
                    <input type="number" class="form-control" name="categoryId" id="field_categoryId"
                           formControlName="categoryId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.actionCategoryName" for="field_actionCategoryName">Action Category Name</label>
                    <input type="text" class="form-control" name="actionCategoryName" id="field_actionCategoryName"
                           formControlName="actionCategoryName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.isExclusive" for="field_isExclusive">Is Exclusive</label>
                    <input type="number" class="form-control" name="isExclusive" id="field_isExclusive"
                           formControlName="isExclusive"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.isPersonal" for="field_isPersonal">Is Personal</label>
                    <input type="number" class="form-control" name="isPersonal" id="field_isPersonal"
                           formControlName="isPersonal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.retargeting" for="field_retargeting">Retargeting</label>
                    <input type="checkbox" class="form-control" name="retargeting" id="field_retargeting"
                           formControlName="retargeting"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.sectoring" for="field_sectoring">Sectoring</label>
                    <input type="text" class="form-control" name="sectoring" id="field_sectoring"
                           formControlName="sectoring"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.rating" for="field_rating">Rating</label>
                    <input type="number" class="form-control" name="rating" id="field_rating"
                           formControlName="rating"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.urlFrame" for="field_urlFrame">Url Frame</label>
                    <input type="text" class="form-control" name="urlFrame" id="field_urlFrame"
                           formControlName="urlFrame"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.look" for="field_look">Look</label>
                    <select class="form-control" name="look" formControlName="look" id="field_look">
                        <option value="ONLINE">{{'couponsApp.Look.ONLINE' | translate}}</option>
                        <option value="OFFLINE">{{'couponsApp.Look.OFFLINE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.domain" for="field_domain">Domain</label>
                    <input type="text" class="form-control" name="domain" id="field_domain"
                           formControlName="domain"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.geo" for="field_geo">Geo</label>
                    <select class="form-control" id="field_geo" name="geo" formControlName="geoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="geoOption.id" *ngFor="let geoOption of geos; trackBy: trackGeoById">{{geoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.coupon.myFavorite" for="field_myFavorite">My Favorite</label>
                    <select class="form-control" id="field_myFavorite" name="myFavorite" formControlName="myFavoriteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="myFavoriteOption.id" *ngFor="let myFavoriteOption of myfavorites; trackBy: trackMyFavoriteById">{{myFavoriteOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
