<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coupon">
            <h2><span jhiTranslate="couponsApp.coupon.detail.title">Coupon</span> {{coupon.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="couponsApp.coupon.image">Image</span></dt>
                <dd>
                    <span>{{coupon.image}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.offerLogo">Offer Logo</span></dt>
                <dd>
                    <span>{{coupon.offerLogo}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.name">Name</span></dt>
                <dd>
                    <span>{{coupon.name}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.description">Description</span></dt>
                <dd>
                    <span>{{coupon.description}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.startDate">Start Date</span></dt>
                <dd>
                    <span>{{coupon.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.activeTo">Active To</span></dt>
                <dd>
                    <span>{{coupon.activeTo}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.couponType">Coupon Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'couponsApp.CouponType.' + coupon.couponType}}">{{coupon.couponType}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.promoCode">Promo Code</span></dt>
                <dd>
                    <span>{{coupon.promoCode}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.offerName">Offer Name</span></dt>
                <dd>
                    <span>{{coupon.offerName}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.offerId">Offer Id</span></dt>
                <dd>
                    <span>{{coupon.offerId}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'couponsApp.Status.' + coupon.status}}">{{coupon.status}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.statusId">Status Id</span></dt>
                <dd>
                    <span>{{coupon.statusId}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.categoryId">Category Id</span></dt>
                <dd>
                    <span>{{coupon.categoryId}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.actionCategoryName">Action Category Name</span></dt>
                <dd>
                    <span>{{coupon.actionCategoryName}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.isExclusive">Is Exclusive</span></dt>
                <dd>
                    <span>{{coupon.isExclusive}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.isPersonal">Is Personal</span></dt>
                <dd>
                    <span>{{coupon.isPersonal}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.retargeting">Retargeting</span></dt>
                <dd>
                    <span>{{coupon.retargeting}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.sectoring">Sectoring</span></dt>
                <dd>
                    <span>{{coupon.sectoring}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.rating">Rating</span></dt>
                <dd>
                    <span>{{coupon.rating}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.url">Url</span></dt>
                <dd>
                    <span>{{coupon.url}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.urlFrame">Url Frame</span></dt>
                <dd>
                    <span>{{coupon.urlFrame}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.look">Look</span></dt>
                <dd>
                    <span jhiTranslate="{{'couponsApp.Look.' + coupon.look}}">{{coupon.look}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.domain">Domain</span></dt>
                <dd>
                    <span>{{coupon.domain}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.geo">Geo</span></dt>
                <dd>
                    <div *ngIf="coupon.geoId">
                        <a [routerLink]="['/geo', coupon.geoId, 'view']">{{coupon.geoId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="couponsApp.coupon.myFavorite">My Favorite</span></dt>
                <dd>
                    <div *ngIf="coupon.myFavoriteId">
                        <a [routerLink]="['/my-favorite', coupon.myFavoriteId, 'view']">{{coupon.myFavoriteId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/coupon', coupon.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
