<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="photoItem">
            <h2><span jhiTranslate="couponsApp.photoItem.detail.title">Photo Item</span> {{photoItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="couponsApp.photoItem.item">Item</span></dt>
                <dd>
                    <span>{{photoItem.item}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.photoItem.description">Description</span></dt>
                <dd>
                    <span>{{photoItem.description}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.photoItem.location">Location</span></dt>
                <dd>
                    <span>{{photoItem.location}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.photoItem.priority">Priority</span></dt>
                <dd>
                    <span>{{photoItem.priority}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.photoItem.active">Active</span></dt>
                <dd>
                    <span>{{photoItem.active}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.photoItem.files">Files</span></dt>
                <dd>
                    <div *ngIf="photoItem.filesId">
                        <a [routerLink]="['/file', photoItem.filesId, 'view']">{{photoItem.filesId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="couponsApp.photoItem.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="photoItem.photoId">
                        <a [routerLink]="['/photo', photoItem.photoId, 'view']">{{photoItem.photoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/photo-item', photoItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
