<div>
    <h2 id="page-heading">
        <span jhiTranslate="couponsApp.photoItem.home.title">Photo Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-photo-item" [routerLink]="['/photo-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="couponsApp.photoItem.home.createLabel">
            Create a new Photo Item
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="photoItems?.length === 0">
        <span jhiTranslate="couponsApp.photoItem.home.notFound">No photoItems found</span>
    </div>
    <div class="table-responsive" *ngIf="photoItems?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="item"><span jhiTranslate="couponsApp.photoItem.item">Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="couponsApp.photoItem.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location"><span jhiTranslate="couponsApp.photoItem.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priority"><span jhiTranslate="couponsApp.photoItem.priority">Priority</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="active"><span jhiTranslate="couponsApp.photoItem.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="filesId"><span jhiTranslate="couponsApp.photoItem.files">Files</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="photoId"><span jhiTranslate="couponsApp.photoItem.photo">Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let photoItem of photoItems ;trackBy: trackId">
                <td><a [routerLink]="['/photo-item', photoItem.id, 'view' ]">{{photoItem.id}}</a></td>
                <td>{{photoItem.item}}</td>
                <td>{{photoItem.description}}</td>
                <td>{{photoItem.location}}</td>
                <td>{{photoItem.priority}}</td>
                <td>{{photoItem.active}}</td>
                <td>
                    <div *ngIf="photoItem.filesId">
                        <a [routerLink]="['/file', photoItem.filesId , 'view' ]" >{{photoItem.filesId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="photoItem.photoId">
                        <a [routerLink]="['/photo', photoItem.photoId , 'view' ]" >{{photoItem.photoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/photo-item', photoItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/photo-item', photoItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(photoItem)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="photoItems?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
