<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading" jhiTranslate="couponsApp.product.home.createOrEditLabel">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.productId" for="field_productId">Product Id</label>
                    <input type="number" class="form-control" name="productId" id="field_productId"
                           formControlName="productId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.shopOfferId" for="field_shopOfferId">Shop Offer Id</label>
                    <input type="number" class="form-control" name="shopOfferId" id="field_shopOfferId"
                           formControlName="shopOfferId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.offerName" for="field_offerName">Offer Name</label>
                    <input type="text" class="form-control" name="offerName" id="field_offerName"
                           formControlName="offerName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.offerId" for="field_offerId">Offer Id</label>
                    <input type="number" class="form-control" name="offerId" id="field_offerId"
                           formControlName="offerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.priceOld" for="field_priceOld">Price Old</label>
                    <input type="number" class="form-control" name="priceOld" id="field_priceOld"
                           formControlName="priceOld"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.updateDate" for="field_updateDate">Update Date</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" formControlName="updateDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.retargeting" for="field_retargeting">Retargeting</label>
                    <input type="number" class="form-control" name="retargeting" id="field_retargeting"
                           formControlName="retargeting"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.discount" for="field_discount">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount"
                           formControlName="discount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.sku" for="field_sku">Sku</label>
                    <input type="text" class="form-control" name="sku" id="field_sku"
                           formControlName="sku"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.upc" for="field_upc">Upc</label>
                    <input type="text" class="form-control" name="upc" id="field_upc"
                           formControlName="upc"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.image" for="field_image">Image</label>
                    <input type="text" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.shopId" for="field_shopId">Shop Id</label>
                    <input type="number" class="form-control" name="shopId" id="field_shopId"
                           formControlName="shopId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.orders" for="field_orders">Orders</label>
                    <input type="number" class="form-control" name="orders" id="field_orders"
                           formControlName="orders"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.similarGoods" for="field_similarGoods">Similar Goods</label>
                    <input type="text" class="form-control" name="similarGoods" id="field_similarGoods"
                           formControlName="similarGoods"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.minPrice" for="field_minPrice">Min Price</label>
                    <input type="number" class="form-control" name="minPrice" id="field_minPrice"
                           formControlName="minPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.maxPrice" for="field_maxPrice">Max Price</label>
                    <input type="number" class="form-control" name="maxPrice" id="field_maxPrice"
                           formControlName="maxPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.currency" for="field_currency">Currency</label>
                    <select class="form-control" id="field_currency" name="currency" formControlName="currencyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.myFavorite" for="field_myFavorite">My Favorite</label>
                    <select class="form-control" id="field_myFavorite" name="myFavorite" formControlName="myFavoriteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="myFavoriteOption.id" *ngFor="let myFavoriteOption of myfavorites; trackBy: trackMyFavoriteById">{{myFavoriteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" formControlName="categoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.shop" for="field_shop">Shop</label>
                    <select class="form-control" id="field_shop" name="shop" formControlName="shopId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shopOption.id" *ngFor="let shopOption of shops; trackBy: trackShopById">{{shopOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.region" for="field_region">Region</label>
                    <select class="form-control" id="field_region" name="region" formControlName="regionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="regionOption.id" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="couponsApp.product.brand" for="field_brand">Brand</label>
                    <select class="form-control" id="field_brand" name="brand" formControlName="brandId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="brandOption.id" *ngFor="let brandOption of brands; trackBy: trackBrandById">{{brandOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
