<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="couponsApp.product.detail.title">Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="couponsApp.product.productId">Product Id</span></dt>
                <dd>
                    <span>{{product.productId}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.shopOfferId">Shop Offer Id</span></dt>
                <dd>
                    <span>{{product.shopOfferId}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.name">Name</span></dt>
                <dd>
                    <span>{{product.name}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.offerName">Offer Name</span></dt>
                <dd>
                    <span>{{product.offerName}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.offerId">Offer Id</span></dt>
                <dd>
                    <span>{{product.offerId}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.price">Price</span></dt>
                <dd>
                    <span>{{product.price}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.priceOld">Price Old</span></dt>
                <dd>
                    <span>{{product.priceOld}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.updateDate">Update Date</span></dt>
                <dd>
                    <span>{{product.updateDate}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.retargeting">Retargeting</span></dt>
                <dd>
                    <span>{{product.retargeting}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.discount">Discount</span></dt>
                <dd>
                    <span>{{product.discount}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.sku">Sku</span></dt>
                <dd>
                    <span>{{product.sku}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.upc">Upc</span></dt>
                <dd>
                    <span>{{product.upc}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.image">Image</span></dt>
                <dd>
                    <span>{{product.image}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.shopId">Shop Id</span></dt>
                <dd>
                    <span>{{product.shopId}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.orders">Orders</span></dt>
                <dd>
                    <span>{{product.orders}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.url">Url</span></dt>
                <dd>
                    <span>{{product.url}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.similarGoods">Similar Goods</span></dt>
                <dd>
                    <span>{{product.similarGoods}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.minPrice">Min Price</span></dt>
                <dd>
                    <span>{{product.minPrice}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.maxPrice">Max Price</span></dt>
                <dd>
                    <span>{{product.maxPrice}}</span>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.currency">Currency</span></dt>
                <dd>
                    <div *ngIf="product.currencyId">
                        <a [routerLink]="['/currency', product.currencyId, 'view']">{{product.currencyId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.myFavorite">My Favorite</span></dt>
                <dd>
                    <div *ngIf="product.myFavoriteId">
                        <a [routerLink]="['/my-favorite', product.myFavoriteId, 'view']">{{product.myFavoriteId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.category">Category</span></dt>
                <dd>
                    <div *ngIf="product.categoryId">
                        <a [routerLink]="['/category', product.categoryId, 'view']">{{product.categoryId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.shop">Shop</span></dt>
                <dd>
                    <div *ngIf="product.shopId">
                        <a [routerLink]="['/shop', product.shopId, 'view']">{{product.shopId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.region">Region</span></dt>
                <dd>
                    <div *ngIf="product.regionId">
                        <a [routerLink]="['/region', product.regionId, 'view']">{{product.regionId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="couponsApp.product.brand">Brand</span></dt>
                <dd>
                    <div *ngIf="product.brandId">
                        <a [routerLink]="['/brand', product.brandId, 'view']">{{product.brandId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
