<div>
    <h2 id="page-heading">
        <span jhiTranslate="couponsApp.product.home.title">Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product" [routerLink]="['/product/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="couponsApp.product.home.createLabel">
            Create a new Product
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="products?.length === 0">
        <span jhiTranslate="couponsApp.product.home.notFound">No products found</span>
    </div>
    <div class="table-responsive" *ngIf="products?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="productId"><span jhiTranslate="couponsApp.product.productId">Product Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shopOfferId"><span jhiTranslate="couponsApp.product.shopOfferId">Shop Offer Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="couponsApp.product.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="offerName"><span jhiTranslate="couponsApp.product.offerName">Offer Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="offerId"><span jhiTranslate="couponsApp.product.offerId">Offer Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="price"><span jhiTranslate="couponsApp.product.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priceOld"><span jhiTranslate="couponsApp.product.priceOld">Price Old</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updateDate"><span jhiTranslate="couponsApp.product.updateDate">Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="retargeting"><span jhiTranslate="couponsApp.product.retargeting">Retargeting</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="discount"><span jhiTranslate="couponsApp.product.discount">Discount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sku"><span jhiTranslate="couponsApp.product.sku">Sku</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="upc"><span jhiTranslate="couponsApp.product.upc">Upc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="image"><span jhiTranslate="couponsApp.product.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shopId"><span jhiTranslate="couponsApp.product.shopId">Shop Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="orders"><span jhiTranslate="couponsApp.product.orders">Orders</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="url"><span jhiTranslate="couponsApp.product.url">Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="similarGoods"><span jhiTranslate="couponsApp.product.similarGoods">Similar Goods</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="minPrice"><span jhiTranslate="couponsApp.product.minPrice">Min Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="maxPrice"><span jhiTranslate="couponsApp.product.maxPrice">Max Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="currencyId"><span jhiTranslate="couponsApp.product.currency">Currency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="myFavoriteId"><span jhiTranslate="couponsApp.product.myFavorite">My Favorite</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="categoryId"><span jhiTranslate="couponsApp.product.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shopId"><span jhiTranslate="couponsApp.product.shop">Shop</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="regionId"><span jhiTranslate="couponsApp.product.region">Region</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="brandId"><span jhiTranslate="couponsApp.product.brand">Brand</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><a [routerLink]="['/product', product.id, 'view' ]">{{product.id}}</a></td>
                <td>{{product.productId}}</td>
                <td>{{product.shopOfferId}}</td>
                <td>{{product.name}}</td>
                <td>{{product.offerName}}</td>
                <td>{{product.offerId}}</td>
                <td>{{product.price}}</td>
                <td>{{product.priceOld}}</td>
                <td>{{product.updateDate | date:'medium'}}</td>
                <td>{{product.retargeting}}</td>
                <td>{{product.discount}}</td>
                <td>{{product.sku}}</td>
                <td>{{product.upc}}</td>
                <td>{{product.image}}</td>
                <td>{{product.shopId}}</td>
                <td>{{product.orders}}</td>
                <td>{{product.url}}</td>
                <td>{{product.similarGoods}}</td>
                <td>{{product.minPrice}}</td>
                <td>{{product.maxPrice}}</td>
                <td>
                    <div *ngIf="product.currencyId">
                        <a [routerLink]="['/currency', product.currencyId , 'view' ]" >{{product.currencyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="product.myFavoriteId">
                        <a [routerLink]="['/my-favorite', product.myFavoriteId , 'view' ]" >{{product.myFavoriteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="product.categoryId">
                        <a [routerLink]="['/category', product.categoryId , 'view' ]" >{{product.categoryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="product.shopId">
                        <a [routerLink]="['/shop', product.shopId , 'view' ]" >{{product.shopId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="product.regionId">
                        <a [routerLink]="['/region', product.regionId , 'view' ]" >{{product.regionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="product.brandId">
                        <a [routerLink]="['/brand', product.brandId , 'view' ]" >{{product.brandId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(product)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="products?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
